<hotelinvapp-header></hotelinvapp-header>
<h2>Welcome to {{hotelName}}!</h2>

<div [hidden]="hideRooms">
    Number Of Rooms:
    <div [innerText]="numberOfRooms" [ngStyle]="{'color': roomInfo.availableRooms ? 'green' : 'red'}">
    </div>
</div>

<div *ngIf="roomInfo.availableRooms > 0">
    <hotelinvapp-rooms-list [rooms]="roomList" [title]="title" 
       (selectedRoom)="selectRoom($event)">
    </hotelinvapp-rooms-list>
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
</div>

<button (click)="toggle()">Toggle</button>