<hotelinvapp-header></hotelinvapp-header>
<h2>Welcome to {{hotelName}}!</h2>

<div [hidden]="hideRooms">
    Number Of Rooms:
    <div [innerText]="numberOfRooms" [ngStyle]="{'color': roomInfo.availableRooms ? 'green' : 'red'}">
    </div>
</div>

<div *ngIf="errorAsObservable$ | async as error">
    {{ error }}
</div>

<div *ngIf="roomCount$ | async as roomCount">
    Number of rooms: {{ roomCount }}
</div>

<div *ngIf="rooms$ | async as rooms">
    <hotelinvapp-rooms-list [rooms]="rooms" [title]="title" 
       (selectedRoom)="selectRoom($event)">
    </hotelinvapp-rooms-list>
</div>

<router-outlet/>

<div>
    <button routerLink="add">Add Room</button>
</div>

<button (click)="toggle()">Toggle</button>

<div>
    <button (click)="updateRoom()">Update Room</button>
</div>

<div>
    <button (click)="deleteRoom()">Delete Room</button>
</div>